{{ partial "head.html" . }}

<div>

    <div>
        <div>
            <!-- A wrapper for all the blog posts -->
            <div>
                {{ range .Paginator.Pages }}
                <h1>{{ .Date.Format "02 Jan 2006, 15:04" }}</h1>
                <section>
                    <header>

                        <a href="{{ .Permalink }}">{{ .Title }}</a>

                        <p>
                            {{ with .Params.author }}
                                By <strong>{{ . }}</strong>
                            {{ end }}
                            {{ if isset .Params "categories" }}
                                under 
                                {{ $baseUrl := .Site.BaseURL }}
                                {{ range .Params.categories }}<a href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
                            {{ end }}
                        </p>
                    </header>

                    <div>
                        {{ .Content }}
                    </div>
                </section>
                {{ end }}
            </div>
            {{ partial "pagination.html" . }}
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>
</body>
</html>
