{{ partial "head.html" . }}

<div class="wrapper">
        {{ partial "header.html" . }}
        {{ partial "vertical_navigation.html" . }}

        <article class="content">
            <h1>Main article area</h1>
            <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
        </article>

        {{ partial "recent_posts.html" . }}
        {{ partial "ad.html" . }}
        {{ partial "footer.html" . }}
</div>

</body>
</html>
